<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fans United Blog</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div class="wrapper">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Fans United Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                        <li>@Html.ActionLink("New Post", "Create", "Posts")</li>
                        <li>@Html.ActionLink("Fixtures", "Index", "Games")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>
                    <b>&copy; @DateTime.Now.Year - Kalin Primov </b>
                </p>
            </footer>
        </div>
    </div>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("styles", required: false)
@RenderSection("scripts", required: false)
</body>
</html>
