@model IEnumerable<Course_Project_Blog.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Administrators") || User.IsInRole("Moderators"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Teams)
        </th>
        <th>
            <b>Date</b>
        </th>
        <th>
            <b>Time</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Teams)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })@:|
            }

            @Html.ActionLink("Details", "Details", new {id = item.Id})|

            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
